html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;

  nextjs-portal {
    display: none;
  }
}

.maxW {
  width: full;
  margin: 0 auto;
  max-width: 1200px;
}

::-webkit-scrollbar {
  height: 0px;
  width: 8px;
  border: 1px solid #fff;

}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #B0B0B0;
}

.slick-slide {
  div {
    margin: 0 10px;
  }
}

.slick-dots li button:before {
  margin-top: 20px;
  font-size: 15px !important;
}

.css-5gngp[aria-checked='true'],
.css-5gngp[data-checked] {
  background-color: #106CFF !important;
  border-color: #106CFF !important;
}

@media only screen and (max-width: 1200px) {

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}



.slick-dots {
  .slick-active {
    .button__bar {
      background-color: #2669f5 !important;
    }
  }
}

.App {
  text-align: center;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}

.scroller>span {
  position: absolute;
  color: #fff;
  top: 0;
  animation: slide 6s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }
}

.border-image {
  border-image: linear-gradient(180deg, hsla(0, 0%, 78.4%, 0), hsla(0, 0%, 100%, .09), hsla(0, 0%, 59.2%, 0)) 1 1;
}

.scroll {
  overflow-x: scroll;
  min-height: 20px;
}


.chakra-popover__popper {
  z-index: 999 !important;
}

@media only screen and (max-width: 500px) {
  .sub-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// .highcharts-background {
//   fill: #09162e !important;
// }

.highcharts-exporting-group {
  display: none !important;
}


.input-range__label {
  display: none;
}

.input-range__slider {
  height: 14px;
  width: 14px;
  background: #425160;
  border: 1px solid #425160;
}

.input-range__track {
  background: #bcbec0;
  height: 4px;
}

.input-range__track--active {
  background: #425160;
}

.input-range__track,
.input-range__slider,
.input-range__slider-container {
  transition: none;
}

.divider-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: -16px;
}

.divider-container__item {
  height: 14px;
  border: 1px solid red;
}

.link {
  padding: 16px;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .link {
    padding: 16px;
    width: max-content;
  }
}

.text-gradient {

  background: linear-gradient(90deg, rgba(63, 114, 149, 1) 0%, rgb(144, 104, 230) 35%, rgba(0, 212, 255, 1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video {
  width: 100%;
  padding: 0 16px;

  video {
    width: 700px !important;
    height: 394px !important;
    border-radius: 20px;

  }
}



@media only screen and (max-width: 850px) {
  .video {
    video {
      width: 100% !important;
      height: 100% !important;
    }
  }
}



.background-banner {
  background: url(../public/images/bg/bg.svg);
  height: 90vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .background-banner {
    padding: 16px;
    height: 40vh;
  }
}

@media only screen and (max-width: 400px) {
  .background-banner {
    padding: 16px;
    background-size: contain;
    margin-top: 80px;
    width: 100%;
    height: 26vh;
  }
}


.block-quote {
  position: relative;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 4px 4px 0 #262626;
  padding: 16px;
  border-radius: 29px;
  height: 280px;
  width: 330px;
  background-repeat: no-repeat;
  background-position: top left;
  text-indent: 23px;

  p {
    position: absolute;
    top: 22%;
    font-size: 16px;
    left: 10%;
    text-align: center;
    width: 250px;
    color: #1e1e1e;
  }
}



@media only screen and (max-width: 765px) {
  .block-quote {
    position: relative;
    margin: 5px;
    border: 1px solid #000;
    box-shadow: 4px 4px 0 #262626;
    padding: 16px;
    border-radius: 29px;
    width: 330px;
    text-indent: 23px;

    p {
      position: absolute;
      top: 23%;
      font-size: 16px;
      left: 10%;
      width: 250px;
    }
  }

}

.Toastify__toast {
  font-family: Inter, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif !important;
}

.text-color {
  font-weight: 700 !important;
  font-size: 13px;
}

@keyframes colorrush {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(10*(12px/0.707)) 100%;
  }
}

.textColorOrange {
  color: orange;
}





@media only screen and (max-width: 765px) {
  .chakra-modal__content-container {

    padding: 0 16px;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.circle {

  border-radius: 50%;

}

.circle:before,
.circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #737373;
  border-radius: 50%;
}


.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* Text */
.text {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  margin: 0;
}

.video {
  border-radius: 20px;
  padding: 0px;
}